In [1]:
import pandas as pd
import numpy as np
import os,glob
import xml.etree.ElementTree as ET

In [2]:
# for dirname, _,filenames in os.walk('Desktop\\hivstandford'):
#     for filename in filenames:
#         print(os.path.join(dirname,filename))
# from sys import argv
# folder_path = "C:\\Users\\jonathan\\Desktop\\hivstandford"
# # bien = glob.glob(folder_path + "/*.xml")
# for root, directories, files in os.walk(folder_path, topdown=False):
#     for name in files:
#         rootname = os.path.join(root, name)
#         print(rootname)
#         parser = ET.XMLParser(encoding="utf-8")
#         xtree = ET.parse(rootname, parser = parser)
#         xroot = xtree.getroot()
# folder_path = "C:\\Users\\jonathan\\Desktop\\hivstandford"
# for root, directories, files in os.walk(folder_path, topdown=False):
#     for name in files:
#         rootname = os.path.join(root, name)
#         print(rootname)
#         xtree = ET.parse(rootname)
#         xroot = xtree.getroot()

In [3]:
path = 'C:\\Users\\jonathan\\Desktop\\hivstandford'
for file in os.listdir(path):
    if not file.endswith('.xml'):continue
    file = os.path.join(path, file)
    tree = ET.parse(file)
    xroot = tree.getroot()
xtree = ET.parse(file)
xroot = xtree.getroot()

In [4]:
# for child in xroot:
#     print(child.tag, child.attrib)

In [7]:
folder_path = "C:\\Users\\jonathan\\Desktop\\hivstandford"
#root = current directory
#files = files name
#directories = path it is a list
filenames = []

for root, directories, files in os.walk(folder_path, topdown=False):
    #read all files in a folder and joint the directory to the file name
    for name in files:
        filenames.append(os.path.join(root, name))
#         print(rootname)
#     # open rootname and read element
#         with open(rootname, 'r') as f:
#             text = f.read()
            
print(filenames[0:5])

['C:\\Users\\jonathan\\Desktop\\hivstandford\\1.xml', 'C:\\Users\\jonathan\\Desktop\\hivstandford\\10.xml', 'C:\\Users\\jonathan\\Desktop\\hivstandford\\100.xml', 'C:\\Users\\jonathan\\Desktop\\hivstandford\\1000.xml', 'C:\\Users\\jonathan\\Desktop\\hivstandford\\1001.xml']

In [49]:
list_element = []

for index, filename in enumerate(filenames):
    
    with open(filename, 'r') as f:
                text = f.read()      
                tree = ET.parse(filename)
                root = tree.getroot()
                for child in root:
                    print(child.tag, child.attrib)

In [50]:
df_cols = ["baselineRNA", "relativeDate", "vLoadMatch", "rawLoad"]
rows = []

for node in xroot.iter("baselineRNA"):
    relativeDate = int(node.find("relativeDate").text)
    vLoadMatch   = node.find("vLoadMatch")
    rawLoad      = int(node.find("rawLoad").text)
    
    rows.append({"relativeDate":relativeDate, "vLoadMatch":relativeDate,"rawLoad":rawLoad})
out_df1 = pd.DataFrame(rows, columns = df_cols)
out_df1

   baselineRNA  relativeDate  vLoadMatch  rawLoad
0          NaN            -3          -3    31623

In [66]:
# for node in xroot:
#     baselineRNA = node.find("baselineRNA")
#     print(baselineRNA)

In [52]:
rows = []
df_col1 = ["baselineRNA", "relativeDate", "vLoadMatch", "rawLoad"]
for node in xroot.iter("baselineRNA"):
    relativeDate = int(node.find("relativeDate").text)
    vLoadMatch   = node.find("vLoadMatch")
    rawLoad      = int(node.find("rawLoad").text)
#     rows.append({baselineRNA:'baselineRNA',relativeDate:'relativeDate',vLoadMatch:'vLoadMatch', rawLoad:'rawLoad'})
    rows.append({"relativeDate":relativeDate, "vLoadMatch":relativeDate,"rawLoad":rawLoad})

out_df2 = pd.DataFrame(rows, columns = df_col1)
out_df2

   baselineRNA  relativeDate  vLoadMatch  rawLoad
0          NaN            -3          -3    31623

In [53]:
df_col2 = ["baselineCD4","relativeDate", "count"]
rows = []
for node in xroot.iter("baselineCD4"):
    relativeDate = int(node.find("relativeDate").text)
    count  = int(node.find("count").text)
    rows.append({"relativeDate":relativeDate, "count":count})

out_df2 = pd.DataFrame(rows, columns = df_col2)
out_df2

   baselineCD4  relativeDate  count
0          NaN            -3    630

In [54]:
def baseline_new_Treatment(out_df3):
    rows = []
    df_col3 = ["baselineNewTreatment","relativeStartDate","relativeStopDate","duration","drug","drugCode","drugClass"]
    for node in xroot.iter("baselineNewTreatment"):
        relativeStartDate = int(node.find("relativeStartDate").text)
        relativeStopDate  = int(node.find("relativeStopDate").text)
        duration          = int(node.find("duration").text)
        for node in xroot.iter("drug"):
            drugCode  = node.find("drugCode").text
            drugClass = node.find("drugClass").text
    rows.append({"relativeStartDate":relativeStartDate,"relativeStopDate":relativeStopDate,
                 "duration":duration,"drugCode":drugCode,"drugClass":drugClass})
    out_df3 = pd.DataFrame(rows, columns = df_col3)
    print(out_df3)

In [55]:
rows = []
df_col4 = ["drug", "drugCode", "drugClass"]

for node in xroot.iter("drug"):
    drugCode  = node.find("drugCode").text
    drugClass = node.find("drugClass").text
    rows.append({"drugCode":drugCode,"drugClass":drugClass})
out_df4 = pd.DataFrame(rows, columns = df_col4)
out_df4

    drug drugCode drugClass
0    NaN      TDF      NRTI
1    NaN      D4T      NRTI
2    NaN      3TC      NRTI
3    NaN      LPV        PI
4    NaN      ABC      NRTI
5    NaN      EFV     NNRTI
6    NaN      DDI      NRTI
7    NaN      ABC      NRTI
8    NaN      EFV     NNRTI
9    NaN      D4T      NRTI
10   NaN      DDI      NRTI
11   NaN      EFV     NNRTI
12   NaN      D4T      NRTI
13   NaN      DDI      NRTI
14   NaN      DDC      NRTI
15   NaN      NFV        PI
16   NaN      DLV     NNRTI
17   NaN      NVP     NNRTI
18   NaN      D4T      NRTI
19   NaN      DDI      NRTI
20   NaN      AZT      NRTI
21   NaN      3TC      NRTI
22   NaN      AZT      NRTI

In [56]:
rows = []
df_col3 = ["baselineNewTreatment","relativeStartDate","relativeStopDate","duration"]
for node in xroot.iter("baselineNewTreatment"):
    relativeStartDate = int(node.find("relativeStartDate").text)
    relativeStopDate  = int(node.find("relativeStopDate").text)
    duration          = int(node.find("duration").text)
    rows.append({"relativeStartDate":relativeStartDate,"relativeStopDate":relativeStopDate,
                 "duration":duration})
out_df3 = pd.DataFrame(rows, columns = df_col3)
out_df3

   baselineNewTreatment  relativeStartDate  relativeStopDate  duration
0                   NaN                  0                52        52

In [57]:
rows = []
df_col5 = ["baselineIsolate","relativetDate","gene","subtype","nucleotideSequence","aaSequence"]
for node in xroot.iter("baselineIsolate"):
    relativeDate      = int(node.find("relativeDate").text)
    gene              = node.find("gene").text
    subtype           = node.find("subtype").text
    nucleotideSequence  = node.find("nucleotideSequence").text
    aaSequence          = node.find("aaSequence").text
    rows.append({"relativeStartDate":relativeStartDate,"gene":gene,
                 "subtype":subtype, "nucleotideSequence":nucleotideSequence,
                 "aaSequence":aaSequence})
out_df5 = pd.DataFrame(rows, columns = df_col5)
out_df5

,baselineIsolate,relativetDate,gene,subtype,nucleotideSequence,aaSequence
0,NaN,NaN,PR,B,ACTCTTTGGCAACGACCCCTCGTCACAATAAAGATAGGGGGGCAAC...,TLWQRPLVTIKIGGQLKEALLDTGADDTVLEEINLPGRWKPKMIGG...
1,NaN,NaN,RT,B,TGTACAGAAATGGAAAAAGAAGGAAAAATTTCAAAAATTGGGCCTG...,CTEMEKEGKISKIGPENPYNTPIFAIKKKNSDRWRKVVDFRELNKR...

In [58]:
rows = []
df_col6 = ["aaMutation","position","aminoAcid",]
for node in xroot.iter("aaMutation"):
    position           = int(node.find("position").text)
    aminoAcid          = node.find("aminoAcid").text
    rows.append({"position":position,"aminoAcid":aminoAcid})
out_df6 = pd.DataFrame(rows, columns = df_col6)
out_df6

    aaMutation  position aminoAcid
0          NaN        36         I
1          NaN        63         P
2          NaN        64         V
3          NaN        60         I
4          NaN        67         N
5          NaN        69         D
6          NaN        70         R
7          NaN        74         V
8          NaN        98         G
9          NaN       102         Q
10         NaN       103         N
11         NaN       134         G
12         NaN       135         V
13         NaN       177         E
14         NaN       181         C
15         NaN       190         A
16         NaN       214         L
17         NaN       215         I
18         NaN       218         E
19         NaN       219         Q
20         NaN       228         H
21         NaN       245         R

In [59]:
rows = []
df_col7 = ["followupRNA","relativeDate","vLoadMatch","logLoad","rawLoad"]
for node in xroot.iter("followupRNA"):
    relativeDate           = int(node.find("relativeDate").text)
    vLoadMatch             = node.find("vLoadMatch").text
    logLoad                = float(node.find("logLoad").text)
    rawLoad                = int(node.find("rawLoad").text)
    
    rows.append({"relativeDate":relativeDate,"vLoadMatch":vLoadMatch,
                 "logLoad":logLoad,"rawLoad":rawLoad})
out_df7 = pd.DataFrame(rows, columns = df_col7)
out_df7

   followupRNA  relativeDate vLoadMatch  logLoad  rawLoad
0          NaN             4          <      2.6      398
1          NaN            17          <      1.7       50
2          NaN            32          <      1.7       50
3          NaN            43          <      1.7       50

In [60]:
rows = []
df_col8 = ["followupCD4","relativeDate","count"]
for node in xroot.iter("followupCD4"):
    relativeDate           = int(node.find("relativeDate").text)
    count                  = int(node.find("count").text)
    
    rows.append({"relativeDate":relativeDate,"count":count})
out_df8 = pd.DataFrame(rows, columns = df_col8)
out_df8

   followupCD4  relativeDate  count
0          NaN             4    659
1          NaN            17    895
2          NaN            32    627
3          NaN            43    820

In [61]:
rows = []
df_col9 = ["pastRegimenTreatments","relativeStartDate","relativeStopDate","duration"]
for node in xroot.iter("pastRegimenTreatments"):
    relativeStartDate      = int(node.find("relativeStartDate").text)
    relativeStopDate       = int(node.find("relativeStopDate").text)
    duration               = int(node.find("duration").text)
    
    rows.append({"relativeStartDate":relativeDate,"relativeStopDate":relativeStopDate,"duration":duration})
out_df9 = pd.DataFrame(rows, columns = df_col9)
out_df9

   pastRegimenTreatments  relativeStartDate  relativeStopDate  duration
0                    NaN                 43                 0        29
1                    NaN                 43               -30       100
2                    NaN                 43              -130         5
3                    NaN                 43              -135        85
4                    NaN                 43              -221        40
5                    NaN                 43              -261        40
6                    NaN                 43              -302        92

In [62]:
rows = []
df_col10 = ["pastRNA","relativeDate","vLoadMatch","logLoad","rawLoad"]
for node in xroot.iter("pastRNA"):
    relativeDate           = int(node.find("relativeDate").text)
    vLoadMatch             = node.find("vLoadMatch").text
    logLoad                = float(node.find("logLoad").text)
    rawLoad                = int(node.find("rawLoad").text)
    
    rows.append({"relativeDate":relativeDate,"vLoadMatch":vLoadMatch,
                 "logLoad":logLoad,"rawLoad":rawLoad})
out_df10 = pd.DataFrame(rows, columns = df_col10)
out_df10

    pastRNA  relativeDate vLoadMatch  logLoad  rawLoad
0       NaN          -301          =      4.2    15849
1       NaN          -288          <      2.6      398
2       NaN          -275          =      4.4    25119
3       NaN          -262          =      3.9     7943
4       NaN          -250          <      2.6      398
5       NaN          -237          =      3.5     3162
6       NaN          -224          =      3.9     7943
7       NaN          -215          <      2.6      398
8       NaN          -211          =      4.0    10000
9       NaN          -197          =      3.1     1259
10      NaN          -184          =      3.5     3162
11      NaN          -171          =      4.4    25119
12      NaN          -158          =      3.7     5012
13      NaN          -143          =      4.2    15849
14      NaN          -138          =      5.2   158489
15      NaN          -123          =      2.6      398
16      NaN          -110          <      1.7       50
17      NaN           -97          <      1.7       50
18      NaN           -84          <      1.7       50
19      NaN           -71          <      1.7       50
20      NaN           -57          <      1.7       50
21      NaN           -42          =      2.1      126
22      NaN           -30          <      1.7       50
23      NaN           -16          =      3.9     7943

In [63]:
rows = []
df_col11 = ["pastCD4","relativeDate","count"]
for node in xroot.iter("pastCD4"):
    relativeDate           = int(node.find("relativeDate").text)
    count                  = int(node.find("count").text)
    
    rows.append({"relativeDate":relativeDate,"count":count})
out_df11 = pd.DataFrame(rows, columns = df_col11)
out_df11

   pastCD4  relativeDate  count
0      NaN          -318    346
1      NaN          -262    382
2      NaN          -224    548
3      NaN          -143    411
4      NaN           -30    632
5      NaN           -16    974

In [64]:
rows = []
df_col12 = ["pastIsolate","relativeDate","aaStart","aaStop","gene","subtype","nucleotideSequence","aaSequence"]
for node in xroot.iter("pastIsolate"):
    relativeDate      = int(node.find("relativeDate").text)
    gene              = node.find("gene").text
    subtype           = node.find("subtype").text
    aaStart           = int(node.find("aaStart").text)
    aaStop            = int(node.find("aaStop").text)
    nucleotideSequence  = node.find("nucleotideSequence").text
    aaSequence          = node.find("aaSequence").text
    rows.append({"relativeDate":relativeDate,"gene":gene,
                 "subtype":subtype, "nucleotideSequence":nucleotideSequence,
                 "aaStart":aaStart,"aaStop":aaStop,
                 "aaSequence":aaSequence})
out_df12 = pd.DataFrame(rows, columns = df_col12)
out_df12

Empty DataFrame
Columns: [pastIsolate, relativeDate, aaStart, aaStop, gene, subtype, nucleotideSequence, aaSequence]
Index: []

In [65]:
rows = []
df_col13 = ["patient","CD4NadirBeforeTCE","patientAlias"]
for node in xroot.iter("patient"):
    CD4NadirBeforeTCE      = int(node.find("CD4NadirBeforeTCE").text)
    patientAlias           = int(node.find("patientAlias").text)
    
    rows.append({"CD4NadirBeforeTCE":CD4NadirBeforeTCE,"patientAlias":patientAlias})
out_df13 = pd.DataFrame(rows, columns = df_col13)
out_df13

   patient  CD4NadirBeforeTCE  patientAlias
0      NaN                346         23262